.loginbox{
    position: fixed;
    z-index: 2;
    left: 35%;
    top: 20%;
    background-color: white;
    overflow: hidden;
    width:30%;
    height:55vh;
}

a{
    position: absolute;
    top:0;
    right: 0;
}

.buttons button{
    height: 50px;
    font-size: 21px;
}

form{
    width: 75%;
}

input{
    height: 50px;
    border:1px solid lightgray
}

input:focus{
    outline: 1px solid gray;
}

::placeholder{
    font-size: 21px;
    padding-left: 10px;
}

form button{
    width: 50%;
    height: 50px;
    margin-top: 20px;
    font-size: 21px;
}

@media (min-width:330px) and (max-width:500px) {
    .loginbox{
        width:90%;
        height: 45vh;
        left:5%;
        top:12%;
    }
    h2{
        font-size: 15px;
    }
    .buttons button{
        font-size: 15px;
        height: 35px;
    }
    input{
        height: 35px;
    }
    ::placeholder{
        font-size: 15px;
        padding-left: 5px;
    }
    form button{
        height:35px;
        font-size: 15px;
    }
    span button{
        height: 35px;
        font-size: 15px;
    }
    h5{
        font-size: 15px;
    }
}

@media (min-width:701px) and (max-width:1000px) {
    .loginbox{
        width:60%;
        left:20%;
    }
}

@media (min-width:1001px) and (max-width:1300px) {
    .loginbox{
        width:50%;
        left:25%;
    }
}
