<app-header></app-header>
<app-slideshow></app-slideshow>
<app-features></app-features>
<app-offeritem></app-offeritem>
<app-gallery></app-gallery>
<app-secondfeature></app-secondfeature>
<app-essentials></app-essentials>
<app-login></app-login>
<app-cart></app-cart>
<app-items id="plants"></app-items>
<app-planters id="planters"></app-planters>
<app-fertilizers  id="fertilizers"></app-fertilizers>
<app-pebbles  id="pebbles"></app-pebbles>
<app-tools  id="tools"></app-tools>
<app-video></app-video>