<h4 class="mt-5 text-center mb-3" style="color: #333333;">Garden Decor & Care</h4>
<div class="container essentials border-0 justify-content-around w-100 mb-5">
    <div class="hover1 border border-1 card  rounded-0 my-2" id="div1">
        <img src="assets/images/pots.jpeg" class="img-fluid">
        <div class="card-img-overlay">
            <h3  class="card-title" style="color: white;">Planters - Starting Rs.129</h3>
            <h5 class="card-text" style="color: white;">Add color to your garden. 400+ pots of different colors, shapes and materials</h5>
            <button class="btn btn-light mt-3">Shop now</button>
        </div>
    </div>
    <div class=" hover1 border-0 card  rounded-0 my-2" id="div2">
        <img src="assets/images/cocopeat.jpeg" class="img-fluid">
        <div class="card-img-overlay">
            <h3 class="card-title" style="color: white;">Soil & Fertilizers - Starting Rs.100</h3>
            <h5 class="card-text" style="color: white;">Healthy food is a key for healthy plants. Choose from a wide range of soil and fertilizers.</h5>
            <button class="btn btn-light mt-3">Shop now</button>
        </div>
    </div>
    <div class="card border-0 hover2 rounded-0 my-2" id="div3">
        <img src="assets/images/pebbles.jpeg" class="img-fluid" >
        <div class="card-img-overlay">
            <h3 class="card-title" style="color: white;">Pebbles - Starting Rs.79</h3>
            <h5 class="card-text" style="color: white;">Add visual and textual features to your garden with a wide range of natural pebbles</h5>
            <button class="btn btn-light mt-3">Shop now</button>
        </div>
    </div>
    <div class="card border-0 hover3 rounded-0 my-2 mt-2" id="div4">
        <img src="assets/images/tools.jpeg" class="img-fluid">
        <div class="card-img-overlay">
            <h3 class="card-title" style="color: white;">Tools - Starting Rs.129</h3>
            <h5 class="card-text" style="color: white;">Get a tool for every gardening activity and make it a fun experience.</h5>
            <button class="btn btn-light mt-3">Shop now</button>
        </div>
    </div>
</div>