.offers{
    overflow: scroll;
    height: 34rem;
}

img{
    transition: all 0.5s;
    transform: scale(0.9,0.9);
}

.product{
    height: 32rem;
    width: 293px;
    min-width: 200px;
    border: 1px solid #e6e6e6;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    transition: all 0s;
}

.product div:last-child{
    margin-right: 0px;
}

.product:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.product:hover img{
    transform:  scale(1.1,1.1);
}

p{
    font-size: 13px;
}

h6{
    font-size: 15px
}

.stars{
    height: 0.625em;
}

@media (min-width:330px) and (max-width:500px)
{
    .offers{
        height:26rem;
    }
    .product{
        height: 24rem;
        width: 200px;
    }
    h5{
        font-size: 12px;
    }
    h6{
        font-size: 9px;
    }
    p{
        font-size: 9px;
    }
    button{
        font-size: 10px;
    }
    span p{
        margin-top: 3px;
    }
    h4{
        font-size: 15px;
    }
}